body {
  background: #f6f6f6;
  margin: 0;
}
.container {
  padding-left: 42px;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100vw;
}

/* portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
}

/* landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 1024px) 
and (orientation: landscape) {
    /* styles here */
}
