.layersCircle {
  position: fixed;
  z-index: 99998;
  top: 10px;
  right: 7px;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(45, 45, 45, 0.5);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.map .layersIcon {
  display: block;
  margin: 6px;
}
.feedCircle {
  position: fixed;
  z-index: 99998;
  bottom: 130px;
  right: 12.5px;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(45, 45, 45, 0.5);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.map .feedIcon {
  display: block;
  margin: 6px;
}

.myLocationCircle {
  position: fixed;
  z-index: 99998;
  bottom: 60px;
  right: 7px;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(45, 45, 45, 0.5);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.map .myLocationCircle a:active {
  color: #0076de;
}
.map .myLocationIcon {
  display: block;
  margin: 12.5px;
}
.map .logo {
  position: fixed;
  z-index: 99998;
  bottom: 60px;
  left: 5px;
  height: auto;
  width: 50px;
  opacity: 70%;
}
.map .tooltip {
  max-width: 200px;
}
.map .tooltip h2 {
  font-size: 1em;
  white-space: normal;
}
