/* The sidenav */
.sidenav {
  height: 285px;
  width: 150px;
  position: absolute;
  z-index: 998;
  top: 60px;
  padding-top: 10px;
  left: 30px;
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: width .1s ease-in-out;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  opacity: 70%;
}
.sidenavHamburger {
  width: 45px;
  position: absolute;
  z-index: 999;
  top: 25px;
  left: 25px;
  border-radius: 45%;
  -moz-box-shadow: 0 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0px 0px 10px #fff;
}
.sidenavContainer:hover .sidenav{
  display: flex;
}
.sidenavContainer:hover .sidenavHamburger { 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}
.sidenav .sidenavTop {
  justify-content: flex-end;
}

.sidenav .sidenavBottom {
  justify-content: flex-start;
}

.sidenavSpace {
  margin-bottom: 40px;
}

.sidenav ul {
 top: auto;
 bottom: auto;
 left: 0;
 /*right: 0;*/
 margin: auto;
 height: auto;
 max-width: 100%;
 padding: 5px;
 padding-left: 0;
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
 overflow-x: hidden;
}

.sidenav ul li {
  display:block;
  width:100%;
  height: auto;
  white-space: nowrap;
}

.sidenav .sidenavTop ul li {
  margin-bottom: 20px;
}

.sidenav .sidenavBottom ul li {
  margin-top: 20px;
}

.sidenav ul li svg {
  font-size: 25px;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: -5px;
}

.sidenav .sidenavLogo {
  position: absolute;
  max-width: 25px;
  max-height: 25px;
  display: block;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all .1s ease-in-out;
  margin-left: 8px;
}

.sidenav .sidenavLogoBg {
  position: absolute;
  max-width: 100%;
  max-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: opacity 0s;
  opacity: 0;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  color: #454545;
  display: block;
  transition: 0.3s;
  align-items: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #0076de;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
