/* global navbar */
.navbar {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                       supported by Chrome, Opera and Firefox */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  color: #454545;
  transition: 0.3s;
  font-size: 12px;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.sidenav a:focus {
  color: #0076de;
}

/* mobile navbar */
@media (min-width: 0px) {
  .sidenav {
    width: 100%;
    position: fixed;
    z-index: 99999;
    bottom: 0px;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(45, 45, 45, 0.5);
    display: flex;
    justify-content: space-between;
  }
  .sidenav ul {
    padding: 0 10px;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
  }
  .sidenav li {
    display: inline-flex;
    margin-bottom: 2.5px;
  }
  .sidenav li * {
    width: 100%;
  }
  .sidenav li svg {
    margin-bottom: -10px;
  }
}

/* tablet+ navbar */
@media (min-width: 641px) {
  .sidenav ul {
    padding: 0 25%;
  }
}
/* laptop+ navbar */
@media (min-width: 1024px) {
  .sidenav {
  }
}

