/* global navbar */
.navbar {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                       supported by Chrome, Opera and Firefox */
}
/* portrait */
@media only screen 
and (max-device-width: 999999999px) {
  .sidenavHamburger {
    display: none;
  }
  /* The sidenav */
  .sidenav {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 99999;
    bottom: 0px;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(45, 45, 45, 0.5);
    display: flex;
    justify-content: space-between;
  }
  .sidenav ul {
    padding: 0 10px;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
  }
  .sidenav li {
    display: inline;
  }
  .sidenav li * {
    width: 100%;
  }
  .sidenav li svg {
    margin-bottom: -15px;
  }
  /* The navigation menu links */
  .sidenav a {
    text-decoration: none;
    color: #454545;
    transition: 0.3s;
    font-size: 12px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover,
  .sidenav a:focus {
    color: #0076de;
  }
}

