body {
  background-color: #f4f5f8;
}
hr {
  opacity: 20%;
  margin: 35px 0px;
}
.box {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.08);
  padding: 15px;
  margin: 0px 15%;
}
.container {
  text-align: center;
}
.container img {
  max-width: 20%;
  border-radius: 50%;
}
.form {
  margin: auto;
  max-width: 750px;
}
.awaiter {
  display: block-inline;
  margin-right: 50px;
  margin-bottom: 50px;
}
