/* desktop navbar */
@media (min-width: 0px) {
  .card {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.08);
    padding: 15px;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 0 10px 0; 
  }
  .card .cardImg {
    height: 80vw;
    width: 100vw;
    margin-left: -16px; 
  }
  .card .favicon {
    height: 24px;
    width: 24px;
    margin-bottom: -7px;
    padding-right: 10px;
    border-radius: 50%;
  }
  .card .cardTitle {
    font-size: 1.7em;
    margin: 0;
  }
  .card a {
    color: inherit;
    text-decoration: none;
  } 
  .container {
    text-align: left;
    overflow-anchor: none;
  }
  .container .logoImg {
    max-width: 20%;
    border-radius: 50%;
  }
  .sickPopup {
    border: 3.5px solid #0076de;
    z-index: 999999;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .form {
    max-width: 750px;
  }
  .awaiter {
    display: block-inline;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  .loader {
    margin: auto;
    margin-top: 20px;
  }
  .banner {
    max-width: 100%;
    margin-top: 0;
  }
  .leafletContainer {
    width: 100%;
    height: 100vh;
  }
  .date {
    text-transform: uppercase;
    font-size: 10px;
    color: #aaaaaa; 
  }
  .post {
    font-size: 0.875em;
  }
  .username {
    margin-bottom: 8px;
  }
  .comments {
    margin-top: 5px;
    padding: 0 5px;
  }
}

/* tablet+ */
@media (min-width: 641px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }
  .card {
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 0.5vh;
  }
  .card .cardImg {
    max-width: 100%;
    height: auto;
  }
  .sickPopup {
    width: 350px;
  }
}
