body {
  background-color: #f6f6f6;
 }
.box {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.08);
  padding: 15px;
  margin: 0px 15%;
}
.container {
  text-align: center;
}
.container .logoImg {
  max-width: 20%;
  border-radius: 50%;
}
.form {
  margin: auto;
  max-width: 750px;
}
.awaiter {
  display: block-inline;
  margin-right: 50px;
  margin-bottom: 50px;
}
.banner {
  max-width: 100%;
  margin-top: 0;
}
.leafletContainer {
  width: 100%;
  height: 100vh;
}

/* portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
  div .box {
    margin: 0;
    background-color: #f6f6f6;
    box-shadow: none;
    max-width: 75vw;
  }

}

/* landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 1024px) 
and (orientation: landscape) {
    /* styles here */
}
